h1 {
    text-align: center;
    background-color: aquamarine;
    height: 200px;
    padding-top: 100px;
    }
.justify-right {
    text-align: right;
}
.main {
    width: auto;
    margin: auto;
}
@media only screen and (min-width: 480px) {
    h1 {
      background-color: red;
    }
  }
  @media only screen and (min-width: 768px) {
    h1 {
      background-color: yellow;
    }
  }
  @media only screen and (min-width: 1024px) {
    h1 {
      background-color:aliceblue
    }
  }